body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.container {
  margin:0 auto;
  text-align:center;
  height:1000px;
  width:750px;
  background-color:forestgreen;
}

#image-box {
  height:500px;
  width:500px;
  margin:auto;
  padding-top:10%;
}

#randomized-image {
  height:100%;
  width:100%;
}

#buttons-box {
  width:90%;
  height:200px;
  text-align:center;
  margin:auto;
  background-color:beige;
  padding-bottom:150px;
  margin-top:10px;
}

#buttons-box input{
  text-align: center;
  margin-top: 150px;
}
